{% extends "base.html" %} {% block content %}

<div class="container mt-4">
  <h2>My Cart</h2>

  {% if cart_items %}

  <table class="table mt-3">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
     <th>Remove</th>
    <tbody>
      {% for item in cart_items %}
      <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.price }} TL</td>
        <td>
          <a
            href="{% url 'cart:decrease_quantity' item.id %}"
            class="btn btn-sm btn-outline-secondary"
            >-</a
          >

          {{ item.quantity }}

          <a
            href="{% url 'cart:increase_quantity' item.id %}"
            class="btn btn-sm btn-outline-secondary"
            >+</a
          >
        </td>
        <td>{{ item.get_total_price }} TL</td>
      </tr>

      <td>
    <a href="{% url 'cart:remove_item' item.id %}" class="btn btn-sm btn-danger">
        Remove
    </a>
</td>
      {% endfor %}
    </tbody>
  </table>

  <div class="text-end mt-4">
    <h4>Total: {{ total_price }} TL</h4>

    {% if coupon %}
        <p class="text-success">
            Coupon applied: {{ coupon.code }} (%{{ coupon.discount_percent }})
        </p>

        <p class="text-danger">
            Discount: -{{ discount_amount|floatformat:2 }} TL
        </p>

        <h4>Final Total: {{ final_total|floatformat:2 }} TL</h4>
    {% endif %}
</div>

 <div class="mt-4 p-4 border rounded-3 bg-light">
    <h5 class="mb-3">Apply Coupon</h5>

    <form method="post" action="{% url 'coupons:apply_coupon' %}">
        {% csrf_token %}

        <div class="row align-items-center">
            <div class="col-md-5">
                {{ coupon_form.code }}
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-dark w-100">
                    Apply
                </button>
            </div>
        </div>
    </form>

    <small class="text-muted d-block mt-2">
        Example code: SAVE10
    </small>
</div>

  <a href="{% url 'orders:checkout' %}" class="btn btn-success">
    Checkout
</a>

  {% else %}

  <p>Your cart is empty.</p>

  {% endif %}
</div>

{% endblock %}
