{% extends "base.html" %} {% block content %}



<!-- HERO -->
<div class="container mt-4">
    <div class="row align-items-center bg-light rounded-4 p-5 shadow-sm">

        <div class="col-md-6">
            <span class="badge bg-dark mb-3">CouponCart Special</span>

            <h1 class="fw-bold">
                Smart Shopping with Better Deals
            </h1>

            <p class="lead text-muted">
                Use coupon code <strong>SAVE10</strong> and get 10% discount on your order.
            </p>

            <a href="{% url 'products:category_products' 'electronics' %}" class="btn btn-dark">
                Shop Products
            </a>
        </div>

        <div class="col-md-6 text-center">
            <div class="p-5 bg-white rounded-4 border">
                <h2 class="fw-bold text-success">SAVE10</h2>
                <p class="mb-0">10% Discount Coupon</p>
            </div>
        </div>

    </div>
</div>

<!-- PRODUCTS -->
<h3 class="mb-3">New Arrivals</h3>

<div class="row">
  {% for product in products %}
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      {% if product.image %}
      <img
        src="{{ product.image.url }}"
        class="card-img-top"
        alt="{{ product.name }}"
        style="height: 220px; object-fit: contain; padding: 15px"
      />
      {% endif %}

      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.price }} TL</p>

        
    <a href="{% url 'products:product_detail' product.slug %}" class="btn btn-primary mt-auto">Detail</a>
    </div>
    </div>
  </div>
  {% empty %}
  <p>No products found.</p>
  {% endfor %}
</div>

<!-- COUPON -->
<div class="mt-5 p-4 bg-light text-center">
  <h4>Use your coupon and save more</h4>
  <p>Apply your coupon code at checkout and get a discount.</p>
</div>

{% endblock %}
